#root {
  margin: 0 auto;
}

body {
  margin: 0px;
}

.sliderCont {
  max-width: 2000px;
  width: 100%;
  height: 300px;
  margin: 0px auto;
}

.bg-border {
  margin: 70px auto;
  border-top: 1.5px solid black;
}


.eats-main-content {
  margin: 120px auto;
  padding: 20px auto;
  display: flex;
  justify-content: center;
}

.why-eats {
  margin:  50px 100px;
}

.whyEats-white-bg {
  background-color: white;
  width: 1230px;
  padding: 10px 20px;
  border-radius: 1.5rem;
}

.dashes {
  width: 100%;
  border: 5px dashed gray;
  border-radius: 1.5rem;
}






